
@{
    ViewData["Title"] = "Access Denied";
}

<h2 class="text-danger">@ViewData["Title"]</h2>

<br />

<h4>Restrict area!</h4>

<br />

<a asp-action="Login" class="btn btn-danger">Back</a>